body {
    background-color: rgb(216, 213, 213);
    color: #afbfcf;
    font-size: 20px;
    position: absolute;
}

#paragrafo{
    color:rgb(32, 29, 29);
    background-color: lightgrey;
    width: 800px;
    border: 5px solid green;
    padding: 20px;
    margin: 20px;
    position: absolute;
    left: 180px;
    top: 35px;
    
}

.list-style-esquerda{
    color: rgb(22, 129, 19);
    font-family: Arial, Helvetica, sans-serif;
    border: 5px solid green;
    position: absolute;
    top: 400px;
    left: 200px;
    width: 65%;
}

.list-style-direita{
    color: rgb(22, 129, 19);
    font-family: Arial, Helvetica, sans-serif;
    border: 5px solid green;
    position: absolute;
    top: 400px;
    left: 703px;
    width: 65%;
}

.img{
    width: 200px;
    top: 55px;
    position: absolute;
    
    
}

header {
    background-color: #706e6d;
    position: fixed;
    width: 100%;
    z-index: 1;
}

header a {
    color:black;
    text-decoration: none;
    padding: 40px;
}

header a:hover {
    color: rgb(247, 247, 247);
}

.menu {
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 15px;
}


